Multi- Linear Regression

Multi-Linear Regression Using  statsmodels

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sn

In [ ]:
df = pd.read_csv("cleaned_data.csv")

Multi-Linear regression Using Statsmodels

In [ ]:
# drop price from the variables
X_multi = df.drop("price", axis=1)

In [ ]:
X_multi.head()

,crime_rate,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,0.006300,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.19200,23,4.0875,1,0,0,1
1,0.026944,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.17280,42,4.9675,0,1,0,0
2,0.026924,37.07,0.469,7.185,61.1,22.2,4.03,7.394,46.19856,38,4.9675,0,0,0,0
3,0.031857,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.26720,45,6.0650,1,1,0,0
4,0.066770,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.28960,55,6.0625,0,1,0,0

In [ ]:
y_multi = df["price"]

In [ ]:
# add constants to dependent variable
X_multi_const = sn.add_constant(X_multi)

In [ ]:
X_multi.head()

,crime_rate,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,0.006300,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.19200,23,4.0875,1,0,0,1
1,0.026944,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.17280,42,4.9675,0,1,0,0
2,0.026924,37.07,0.469,7.185,61.1,22.2,4.03,7.394,46.19856,38,4.9675,0,0,0,0
3,0.031857,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.26720,45,6.0650,1,1,0,0
4,0.066770,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.28960,55,6.0625,0,1,0,0

In [ ]:
lm_multi = sn.OLS(y_multi,X_multi_const).fit()

Using Sklearn

In [ ]:
from sklearn.linear_model import LinearRegression
lm3 = LinearRegression()

In [ ]:
lm3.fit(X_multi, y_multi)

In [ ]:
print(lm3.intercept_,lm3.coef_)