Multi- Linear Regression

Multi-Linear Regression Using  statsmodels

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sn

In [14]:
df = pd.read_csv("cleaned_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   price                     506 non-null    float64
 1   crime_rate                506 non-null    float64
 2   resid_area                506 non-null    float64
 3   air_qual                  506 non-null    float64
 4   room_num                  506 non-null    float64
 5   age                       506 non-null    float64
 6   teachers                  506 non-null    float64
 7   poor_prop                 506 non-null    float64
 8   n_hos_beds                498 non-null    float64
 9   n_hot_rooms               506 non-null    float64
 10  rainfall                  506 non-null    int64
 11  avg_dist                  506 non-null    float64
 12  airport_YES               506 non-null    int64
 13  waterbody_Lake            506 non-null    int64
 14  waterbody_Lake and River  506 non-null    int64
 15  waterbody_River           506 non-null    int64
dtypes: float64(11), int64(5)
memory usage: 63.4 KB

In [3]:
median_n_hos_beds = df['n_hos_beds'].median()
df = df['n_hos_beds'].fillna(median_n_hos_beds, inplace=True)

In [5]:
df

In [13]:
df.describe()

AttributeError: 'NoneType' object has no attribute 'describe'

Multi-Linear regression Using Statsmodels

In [53]:
# drop price from the variables
X_multi = df.drop("price", axis=1)

In [54]:
X_multi.head()

,crime_rate,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,0.006300,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.19200,23,4.0875,1,0,0,1
1,0.026944,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.17280,42,4.9675,0,1,0,0
2,0.026924,37.07,0.469,7.185,61.1,22.2,4.03,7.394,46.19856,38,4.9675,0,0,0,0
3,0.031857,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.26720,45,6.0650,1,1,0,0
4,0.066770,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.28960,55,6.0625,0,1,0,0

In [55]:
y_multi = df["price"]

In [56]:
# add constants to dependent variable
X_multi_const = sn.add_constant(X_multi)

In [57]:
X_multi.head()

,crime_rate,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,0.006300,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.19200,23,4.0875,1,0,0,1
1,0.026944,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.17280,42,4.9675,0,1,0,0
2,0.026924,37.07,0.469,7.185,61.1,22.2,4.03,7.394,46.19856,38,4.9675,0,0,0,0
3,0.031857,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.26720,45,6.0650,1,1,0,0
4,0.066770,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.28960,55,6.0625,0,1,0,0

In [58]:
lm_multi = sn.OLS(y_multi,X_multi_const).fit()

In [62]:
lm_multi

Using Sklearn

In [59]:
from sklearn.linear_model import LinearRegression
lm3 = LinearRegression()

In [60]:
lm3.fit(X_multi, y_multi)

LinearRegression()

In [61]:
print(lm3.intercept_,lm3.coef_)

-6.492783607841101 [ 9.84684716e-03 -4.08121425e-02 -1.59030880e+01  4.01901972e+00
 -5.70785682e-03  1.00700280e+00 -5.77339502e-01  3.28460505e-01
  9.18695554e-02  1.61503602e-02 -1.21864385e+00  1.13108485e+00
  2.63121289e-01 -6.87597011e-01 -2.92359278e-01]

In [65]:
df.to_csv('training_data.csv', index=False)

AttributeError: 'NoneType' object has no attribute 'to_csv'